/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.site-content {
	margin: 0 auto;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.addymin {
	margin-top: 30px;
}
.hero-header {
  .site-header {
		position: absolute;
		background-color: rgba(255,255,255,0);
		border: none;
		color: $color__background-body; // for inherit on search
    .main-navigation {
      a , a:visited{
			color: $color__background-body;
			font-family: $font__secondary;
      }
      a:focus , a:hover{
        color: $color__brand_4;
      }
    }
	}
}
.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	padding: 0.333*$base__space-unit 0;
	background-color: rgba(255,255,255,0.8);
	color: $color__brand_1;
	border-bottom: $border__solid;
	z-index: 1000;
	* {
		margin: 0;
		padding: 0;
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: $base__max-width;
		margin: 0 auto;
	}
	.site-branding {
		width: 2.2*$base__space-unit;
		
	}
	.main-navigation {
		padding:0 0 0.333*$base__space-unit;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		* {
			border: none;
			background-color: inherit;
			box-shadow: none;
		}
		a , a:visited {
			color: $color__brand_1;
			font-family: $font__secondary;
		}
		a:focus , a:hover {
			color: $color__brand_2;
		}
		ul {
			width: 14*$base__space-unit;
			display: flex;
			justify-content: space-between;
			align-content: center;
			text-transform: uppercase;
			padding-left: 1.25*$base__space-unit;
		}
		.fieldset {
			display: flex;
			label {
				order: 2;
				width: 0;
				overflow: hidden;
				transition: 0.5s;
				input::placeholder {
					color: inherit;
					text-transform: uppercase;
					font-family: $font__secondary;
				}
				input {
					padding-left: 0.666*$base__space-unit;
					color:  inherit;
					outline-color: $color__brand_4;
				}
			}
			.search-submit {
				order: 0;
				padding-left: $base__space-unit;
				@include font-size(1);
				text-shadow: unset;
			}
			//to override
			&.button-toggled {
					label {
						width: 200px;
						overflow: visible;
						margin-left: 5px;
					}
			}
		}
	}

}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.widget-area {
	h2 {
		@include font-size(1.5);
		color: $color__brand_2;
	}
	.tent-biz-hours-class {
		p span {
			font-weight: bold;
		}
	}
	.widget_custom_html {
		width: 100%;
		p{
			margin: 0 0 0.666*$base__space-unit;
			display: flex;
			align-items: flex-start;
			width: 100%;
		}
		i {
			width: 12%;
			height: $base__space-unit;
			display: inline-block;
			display: flex;
			align-items: center;
		}
		a, a:visited {
			color: $color__brand_1;
			text-decoration: none;
		}
		a:focus, a:hover {
			color: $color__brand_2;
		}
		
	}
	.widget_archive {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			line-height: $font__line-height;
		}
		a , a:visited{
			text-decoration: none;
			color: $color__brand_1;
		}
		a:hover, a:focus {
			color: $color__brand_2;
		}
	}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
	background: url("../../images/dark-wood.png");
	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		background: url("../../images/dark-wood@2x.png");
	}	
	color: $color__background-body;
	.site-info {
		padding: $base__space-unit;
		text-align: center;
	}
	.container {
		display: flex;
		justify-content: space-between;
		width: $base__max-width;
		padding: 2*$base__space-unit 0 $base__space-unit;
		margin: 0 auto;
		.footer-widget-area {
			display: flex;
			.widget {
				width:280px;
			}

		}
		.widget_custom_html {
			p{
				display: flex;
				align-items: flex-start;
				width: 100%;
			}
			i {
				width: 9%;
				height: $base__space-unit;
				@include font-size(1.2);
				display: inline-block;
				display: flex;
				align-items: center;
			}
		}
		h2 {
			color: $color__brand_3;
			@include font-size(1.2);
		}
		.tent-biz-hours-class {
			p span {
				font-weight: bold;
			}
		}
		.site-branding {
			flex: 0 0 25%;
			padding-top: 0.666*$base__space-unit;
		}
		a, a:visited {
			color: $color__background-body;
			text-decoration: none;
		}
		a:focus, a:hover {
			text-decoration: underline;
		}
	}
}

