/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.site-content {
	width: 1000px;
	margin: 0 auto;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
/*--------------------------------------------------------------
# Front Page Previews
--------------------------------------------------------------*/
.blog-preview {
	display: flex;
	height: 500px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	justify-content: space-between;
	flex-flow: row wrap;
	& h1 {
		flex: 0 0 100%;
	}
	&-item {
		flex: 0 0 32%;
		& .thumbnail-wrapper {
			width: 100%;
			height: 200px;
			overflow: hidden;
		}
	 }
}